@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* מבטיח מינימום גובה של גובה החלון */
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f4f4f4;
}

main {
  flex: 1; /* תוכן ראשי יתפוס את כל השטח שנותר */
}

/* Navbar */
.navbar {
  background: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Showcase */
.showcase {
  height: 450px;
  width: 100%;
  background: var(--primary-color);
}

.showcase h1 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  padding: 1rem 0;
}

.showcase form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.showcase form input,
form select {
  font-size: 20px;
  width: 500px;
  max-width: 500px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

form button {
  font-size: 20px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

form button:hover {
  transform: scale(1.1);
}

/* Image */

.image {
  width: 100%;
  margin-top: 2rem;
}

img {
  display: block;
  margin: auto;
}

.msg {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1rem;
}

/* Image Section */
.image {
  width: 100%;
  margin-top: 2rem;
  background: #fff; /* רקע לבן לאזור התמונה */
  padding: 2rem 0;
  margin-bottom: 2rem; /* רווח מתחת לתמונה */
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
  margin-top: auto;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: auto; /* מבטיח שה-footer יישאר בתחתית */
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

.social-icons {
  list-style: none;
  display: flex;
}

.social-icons li {
  margin-left: 1rem;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #333;
}

/* Responsiveness */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-left,
  .footer-right {
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .showcase h1 {
    font-size: 1.8rem;
  }

  .showcase input,
  .showcase select,
  .showcase button {
    width: 100%;
    max-width: 100%;
  }
}
